body{
    text-script: Arial;
    background-color: black;
    padding:50px;
    align-items: center;
}
.links{
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15;
}
.mainphoto{
    background-color: black;
    background-position: center;
}
.searchbar{
    background-color: black;
    text-decoration: white;
}

.bottombody{
    background-color:lightgrey;
    background-position: center;
    padding: 15px;
    border: solid;
}
.welcometext {
    text-align: center;
    padding:15px;
}
.category{
    display:flex;
    justify-content: space-around;
    max-height: 200px;
    wid
}
.smallimage{
    width:200px;
    padding:20px;
}
.blackarea{
    background-color: black;
    padding:15px;
}
.footer{
    background-color: white;
    padding:25px;
}